= f.input :organization, url: autocomplete_schools_path, as: :autocomplete
= f.input :specialization
= f.label :category
= f.select :category, options_from_collection_for_select(I18n.t('cv_items.education_categories'), :first, :last)
