.card#candidate_education
  .card-divider
    = divider_edit_button(new_education_item_path) if can? :edit, candidate
    %h4= t('candidates.show.education')
  .card-section.education_items
    - if candidate.education_items.any?
      - candidate.education_items.each do |item|
        = render 'cv_items/cv_item', item: item
    - else
      = t('candidates.show.no_education')

