.card
  .card-divider
    %h4 CV
  .card-section
    - if candidate.resumes.any?
      %table.resumes
        %tbody
          = render candidate.resumes
    - else
      %h4.text-center
        = t('candidates.show.resumes.blank_slate')
    - if can? :update, candidate
      = link_to t('candidates.show.resumes.upload_button'), new_resume_path, class: 'custom_button'
