.card
  .card-divider
    = divider_edit_button(candidate_edit_skills_path) if can? :edit, candidate
    %h4= t('candidates.show.skills')
  .card-section
    %div
      - if candidate.skill_items.any?
        %table
          %tbody#skill_items
            = render candidate.skill_items
      - else
        = t('candidates.show.no_skills')
