.card
  .card-divider
    = divider_edit_button(new_work_item_path) if can? :edit, candidate
    %h4= t('candidates.show.work_experience')
  .card-section
    %div
      - if candidate.work_items.any?
        %table
          %tbody
            = render candidate.work_items
      - else
        = t('candidates.show.no_work_experience') 

