.card
  .card-divider
    = divider_edit_button(work_items_path) if can? :edit, candidate
    %h4= t('candidates.show.work_experience')
  .card-section.work_items
    - if candidate.work_items.any?
      - candidate.work_items.each do |item|
        = render 'cv_items/cv_item', item: item
    - else
      = t('candidates.show.no_work_experience') 

