- if defined?(highlighted) && highlighted
  - classNames = 'blog_post card blog_post--highlight'
- else
  - classNames = 'blog_post card'
%div{class: classNames, id: dom_id(blog_post)}
  .card-section
    .blog_post__date
      - date = blog_post.created_at.day.ordinalize + blog_post.created_at.strftime(" %B %Y")
      = fa_icon('calendar', text: date)
    - if can? :edit, blog_post
      = link_to fa_icon('pencil', text: 'Edit'), edit_blog_post_path(blog_post)
      = link_to fa_icon('trash-o', text: 'Delete'), blog_post, method: :delete, remote: true, data: { confirm: "Are you sure you want to delete this post?" }
    = markdown blog_post.body
