- if defined?(highlighted) && highlighted
  - classNames = 'blog_post card blog_post--highlight'
- else
  - classNames = 'blog_post card'
%div{class: classNames, id: dom_id(blog_post)}
  .card-section
    %span.blog_post__date
      - date = datetime_with_ordinal_day(blog_post.created_at) 
      - if blog_post.created_at != blog_post.updated_at
        - date << (", " + t('blog_posts.edited', dt: datetime_with_ordinal_day(blog_post.updated_at)))
      = fa_icon('calendar', text: date)
    - if can? :edit, blog_post
      .blog_post__actions.float-right
        = link_to fa_icon('pencil', text: 'Edit'), edit_blog_post_path(blog_post), remote: true, class: 'button small button--reduce-padding'
        = link_to fa_icon('trash-o', text: 'Delete'), blog_post, method: :delete, remote: true, class: 'button small dark-red-bg button--reduce-padding', data: { confirm: "Are you sure you want to delete this post?" }
    = markdown blog_post.body
