- breadcrumb :admin_orders
%h1 Zamówienia

%table.orders.hover
  %thead
    %tr
      %td #
      %td Suma
      %td Data Utworzenia
      %td Zamawiający
      %td Opłacone
      %td Faktura
      %td Wg ceny
  %tbody#clickable_table
    = render partial: 'orders/order', collection: orders
