%tr{id: dom_id(skill)}
  %td.skill__name
    = skill.name
  %td.skill__level
    - if skill.type == "LanguageSkill"
      = t("language_skill_levels." + skill.level)
    - else
      = t("skill_levels.#{skill.level}")
