= f.input :start_date, start_year: 20.years.ago.year, end_year: Time.now.utc.year, discard_day: true
= f.input :end_date, start_year: 20.years.ago.year, end_year: Time.now.utc.year, discard_day: true, include_blank: true
