.markdown_info
  Przy formatowaniu opisu możesz użyć języka znaczników Markdown. Instrukcję obsługi Markdown znajdziesz na stronach <a href="https://pl.wikipedia.org/wiki/Markdown" target="_blank">Wikipedii</a>, <a href="https://dug.net.pl/pomoc/skladnia" target="_blank">dug.net.pl</a>, <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Github</a> (ang.).
  %br/

  Możesz w prosty sposób wprowadzić specjalne symbole, używając <a href="https://dev.w3.org/html5/html-author/charref" target="_blank">sekwencji HTML</a> (ang. <em>HTML entities</em>), np. symbol euro (&euro;): <code>&amp;euro;</code>. Symbol funta (&pound;): <code>&amp;pound;</code>.
  %br/

  Podwójny znak nowej linii (Enter) otwiera nowy akapit. Pojedyncze znaki nowej linii są domyślnie ignorowane. Aby wymusić przeniesienie do nowej linii, dodaj na końcu linii dwie spacje lub użyj znacznika HTML <code>&lt;br/&gt;</code>.

