.markdown_info
  You can use the Markdown format language to format the description. You can find documentation of Markdown syntax on the following websites:
  <a href="https://en.wikipedia.org/wiki/Markdown" target="_blank">Wikipedia</a> and <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Github</a><br/>

  You can use <a href="https://dev.w3.org/html5/html-author/charref" target="_blank">HTML entities</a> (codes) to input special symbols: use <code>&amp;euro;</code> for the euro symbol (&euro;) and <code>&amp;pound;</code> for the pound symbol (&pound;).

  Two line breaks (Enter) start a new paragraph. Single line breaks are ignored, to force line break please add two or more spaces at the end of line or use HTML line break tag <code>&lt;br/&gt;</code>.

