.textile_info
  You can use the textile markup language to format the description. An exhaustive documentation of the Textile markup language can be found on <a href="https://www.promptworks.com/textile">promptworks.com</a>.<br/>

  In a nutshell, you can use <strong>*asterisks*</strong> for <strong>bold text</strong> and <em>_underscores_</em> for <em>italic text</em>.
  Use &amp;euro; for the euro symbol (&euro;).
