.textile_info
  You can use the Textile markup language to format the description. An exhaustive documentation of Textile can be found on <a href="https://www.promptworks.com/textile">promptworks.com</a>.<br/>

  In a nutshell, you can use <strong>*asterisks*</strong> for <strong>bold text</strong> and <em>_underscores_</em> for <em>italic text</em>. <a href="https://www.promptworks.com/textile/page-layout#bullet-lists">Lists</a>.<br/>

  Use <code>&amp;euro;</code> for the euro symbol (&euro;) and <code>&amp;pound;</code> for the pound symbol (&pound;).
