.textile_info
  Przy formatowaniu opisu możesz użyć języka znaczników Textile. Wyczerpująca dokumentacja Textile (w języku angielskim) dostępna jest na stronie <a href="https://www.promptworks.com/textile">promptworks.com</a>.<br/>

  Użyj <strong>*gwiazdek*</strong>, aby uzyskać <strong>wytłuszczone pismo</strong> i <em>_podkreśleń_</em>, aby uzyskać <em>pismo pochyłe</em>. <a href="https://www.promptworks.com/textile/page-layout#bullet-lists">Listy (wyliczenia)</a>.<br/>
  Symbol euro (&euro;): <code>&amp;euro;</code>. Symbol funta (&pound;): <code>&amp;pound;</code>.

