%h2.text-center= t('home.featured_companies.heading')
.featured_companies
  - @companies.each do |company|
    .company-block
      = link_to company, title: company.name do
        = avatar_for company, size: :normal
