.home__offers.card
  .card-divider
    %h3= t('home.featured_offers.heading')
  = render @offers, short: true, show_company: true
  .card-section
    = link_to t('home.featured_offers.more'), offers_path

