%h2.text-center= t('home.featured_companies.heading')
#company-carousel
  - @companies.each do |company|
    .company-block
      = link_to company, title: company.name do
        = avatar_for company, size: :normal
- if @companies.size > 4
  :javascript
    $(document).on('turbolinks:load', function(e) {
      $('#company-carousel').addClass('owl-carousel owl-theme').owlCarousel({
        dots: true,
        nav: true,
        stagePadding: 10,
        loop: true,
        center: true,
        navText: ["<i class=\"fa fa-arrow-left\"></i>", "<i class=\"fa fa-arrow-right\"></i>"],
        autoWidth: true,
        autoplay: true,
        autoplayHoverPause: true,
        autoplayTimeout: 1750
      });
    });
