.home__companies.callout
  %h3= t('home.featured_companies.heading')
  %ul
    - for company in @companies
      %li
        = (link_to company.display_name, company)
  = link_to t('home.featured_companies.more'), companies_path

