%h2.text-center= t('home.featured_offers.heading')
%h4.text-center= t('home.featured_offers.subheader') 
.owl-carousel.owl-theme#offer-carousel
  = render @offers, block: true

:javascript
  $(document).on('turbolinks:load', function(e) {
    $('#offer-carousel').owlCarousel({
      dots: true,
      nav: true,
      loop: true,
      center: true,
      navText: ["<i class=\"fa fa-arrow-left\"></i>", "<i class=\"fa fa-arrow-right\"></i>"],
      autoWidth: true,
      autoplay: true,
      autoplayHoverPause: true,
      autoplayTimeout: 1750
    });
  });
