- content_for :row1 do
  %h1 InJobs

  %p InJobs jest platformą poszukiwania pracy.
  %p Aby rozpocząć poszukiwanie pracy lub pracowników, <a href="/sign_up">zarejestruj się!</a>

.medium-6.columns
  = render 'featured_offers'
.medium-6.columns
  = render 'featured_companies'
