- set_meta_tags title: t('home.meta_title').titleize,
                description: t('home.meta_description')

= render 'carousel'

%section.home__row3
  .row 
    = render 'featured_offers'
%section.home__row4
  .row
    = render 'featured_companies'

