- content_for :row1 do
  %p.home__row1__upper-text InJobs jest platformą poszukiwania pracy.
  %p.home__row1__lower-text Znajdź <strong>za darmo</strong> wymarzoną pracę lub kompetentnych pracowników!
  = link_to "Zarejestruj się", sign_up_path, class: 'home__row1__cta'

.row
  = render 'featured_offers'
.row
  = render 'featured_companies'
