.blog_post__date
  color: #666
  font-size: 0.8rem
  .fa
    width: 1.1rem
    text-align: center

div.new_blog_post
  padding: 1rem
  position: relative

textarea.new_blog_post__textarea
  border: none
  font-family: $normal-font
  overflow: hidden
  padding: 0
  resize: none
  box-shadow: none
  margin-bottom: 1.5rem

.new_blog_post__explanation
  font-size: 0.8rem
  @include breakpoint(large)
    position: absolute
    bottom: 0.85rem

.new_blog_post__submit
  position: absolute
  right: 1rem
  bottom: 1rem
  margin: 0

@mixin color-fade($color)
  0%
    background-color: $color
  100%
    background-color: #fff
  
@keyframes blog-post-fade
  +color-fade(lighten(#175eba, 30%))

@-webkit-keyframes blog-post-fade
  +color-fade(lighten(#175eba, 30%))

.blog_post--highlight
  -webkit-animation: blog-post-fade 3s ease-in 1
  animation: blog-post-fade 3s ease-in 1

.blog_post
  font-size: 1.2rem
  position: relative
