.cart__heading
  color: darken($primary-color, 8%)

.cart__table
  overlay: scroll

  table
    thead td
      font-family: $thin-font
      font-size: 1.1rem
      color: darken($primary-color, 4%)
    tfoot td
      color: $dark-red

.cart_item__unit_price
  text-align: right

.cart_item__quantity
  width: 4rem

.cart_item__subtotal
  white-space: nowrap
  width: 10%

.button.cart__pay_eur
  color: yellow
  
