
.offer_dashboard
  font-size: 90%
  border-collapse: collapse

  tbody td
    padding: 0.2rem 0.625rem 0.625rem
  input[type='checkbox']
    margin: 3px 0 0 0
    border-color: #b4b9be
    border-radius: 0
@supports (zoom:1.3)
  .offer_dashboard input[type='checkbox']
    zoom: 1.3
@supports not (zoom:1.3)
  .offer_dashboard input[type='checkbox']
    transform: scale(1.3)

  thead, tfoot
    border-bottom: 1px solid grey

.offer_dashboard__thead__title
  width: rem-calc(300)

.offer_dashboard__bulk_action
  height: 2rem
  font-size: 80%
  padding: 0 1.5rem 0 0.5rem
  margin-bottom: 0.5rem
  width: auto

.offer_dashboard__apply_bulk_action
  margin-bottom: 0
  padding: 0.6rem 0.8rem

.offer_dashboard__checkbox
  width: rem-calc(30)

.offer_dashboard__title
  font-weight: 600
  width: 100%

.offer_dashboard__actions
  font-size: 0.75rem
