.dashboard_card
  .button
    margin-bottom: 0

  .card-section
    padding-top: 0

.offer_dashboard
  font-size: 90%
  border-collapse: collapse

  tbody
    td
      padding: .2rem .625rem .625rem

  input[type='checkbox']
    border-color: #b4b9be
    border-radius: 0
    margin: 3px 0 0 0

@supports (zoom:1.3)
  .offer_dashboard input[type='checkbox']
    zoom: 1.3

@supports not (zoom:1.3)
  .offer_dashboard input[type='checkbox']
    transform: scale(1.3)

  thead,
  tfoot
    border-bottom: 1px solid grey

.offer_dashboard__thead,
.offer_dashboard__tfoot
  background-color: lighten($primary-color, 45%)

.offer_dashboard__thead__title
  width: rem-calc(300)

.offer_dashboard__premium_services_remaining
  color: #333
  display: block
  font-size: 80%

.offer_dashboard__destructive_action
  color: orangered
  display: none

.offer_dashboard__highlighted, .offer_dashboard__category_featured, .offer_dashboard__homepage_featured
  font-size: 90%
  color: #fff
  padding: 1px 3px
  border-radius: 2px

.offer_dashboard__highlighted
  background-color: $dark-red

.offer_dashboard__category_featured
  background-color: $primary-color

.offer_dashboard__homepage_featured
  background-color: $dark-green

.offer_dashboard__bulk_action
  height: 2rem
  font-size: 80%
  padding: 0 1.5rem 0 0.5rem
  margin-bottom: 0.5rem
  width: auto

.offer_dashboard__apply_bulk_action
  margin-bottom: 0
  padding: 0.6rem 0.8rem

.offer_dashboard__order_premium_services
  margin-bottom: 0
  padding: 0.6rem 0.8rem

.offer_dashboard__checkbox
  width: rem-calc(30)

.offer_dashboard__title
  font-weight: 600
  width: 100%

.offer_dashboard__actions
  font-size: 0.75rem

.balance-hl
  color: darken($dark-green, 10%)
  font-weight: bold
