.footer
  background-color: #175eba
  color: #fff
  padding-top: 1.5rem
  font-size: 0.9rem
  text-align: center
  @include breakpoint(medium)
    padding-top: 2.5rem
    text-align: left
    padding-bottom: 3rem
