.offer_applications__divider
  background-color: pink
  font-family: 'Comic Sans MS', sans-serif
  font-size: 1.2rem

.offer_application__name
  color: #333

.offer_application__checkbox
  width: rem-calc(25)
  vertical-align: middle

.offer_application__sex, .offer_application__age, .offer_application__resumes, .offer_application__memo
  width: rem-calc(70)
  text-align: center
