table.orders
  border-collapse: collapse
  border: none

  thead
    border: none

  tbody
    cursor: pointer
    border: none
    tr
      border: none

.order__status
  color: #fff
  background-color: $secondary-color
  padding: 2px 5px 2px 6px
  border-radius: 3px
  font-size: 90%

.order__status--paid
  background-color: $dark-green

.order__status--unpaid
  background-color: $dark-red
