.payment_icon
  width: 68px
  background-size: auto 45px
  height: 45px
  outline: 1px dotted transparentize(honeydew, 0.7)
  display: inline-block

  background:
    image: asset-url('payment-methods.png')
    repeat: no-repeat
    position-x: -81px

.payment_icon--mastercard
  background-position-x: -158px

.payment_icon--paypal
  background-position: -547px -3px
  width: 80px

