.search_bar__left
  border-radius: $global-radius 0 0 $global-radius

.search_bar__center
  border-radius: 0 $global-radius $global-radius 0
  @include breakpoint(medium)
    border-radius: 0

.search_bar__right
  @include breakpoint(medium)
    border-radius: 0 $global-radius $global-radius 0
    padding: 0.675rem 1rem 0.675rem 1rem
    font-size: 1rem

.abroad_search, .poland_search
  select
    color: #666

$search-hl-bg: #ef9a9a
.search_hl
  background-color: transparentize($search-hl-bg, 0.2)
  font-weight: 600
