%h2 Are you looking for jobs or employees?

.row
  .medium-6.columns
    .box
      %h3 I'm looking for a job
      %p Sign up for a free account to:
      %ul
        %li apply for jobs
        %li build a network of friends
      = link_to "Register as a Candidate", new_user_registration_path, class: 'button primary expanded'
  .medium-6.columns
    .box
      %h3 I'm an employer
      %p Sign up to:
      %ul
        %li post offers
        %li build a business network
      = link_to "Register as a Company", new_user_registration_path, class: 'button primary expanded'
