= link_to candidate do
  %div{id: dom_id(candidate), class: 'candidate candidate-row'}
    .candidate-row__left
      = avatar_for candidate, size: :thumb
    .candidate-row__center
      %span.candidate-row__name= candidate.full_name
