.tabs
  - {t('.description') => company_path(company), t('.blog') => company_blog_posts_path(company_id: company), t('.offers') => company_offers_path(company_id: company)}.each do |name, path|
    - if current_page?(path)
      %li.tabs__tab.tabs__tab--active= link_to name, path
    - else
      %li.tabs__tab= link_to name, path


  - if can? :edit, company
    %li.tabs__tab.blue-bg= link_to fa_icon('pencil', text: t('actions.edit')), edit_company_path(company)
