.row
  %ul.menu.align-center.company__menu
    %li= link_to t('.description'), company
    %li= link_to t('.blog'), company_blog_posts_path(company_id: company)
    %li= link_to t('.offers'), company_offers_path(company_id: company)


