.row
  %ul.menu.align-center.company__menu
    %li= link_to "Description", company
    %li= link_to "Blog", company_blog_posts_path(company_id: company)
    %li= link_to "Offers", company_offers_path(company_id: company)


