%section.company_search.large-8.large-offset-2.medium-10.medium-offset-1.columns
  = form_for companies_path, method: :get, remote: true do |f|
    .row
      .input-group
        = f.text_field :q, name: 'q', id: "company_search_q", placeholder: t('.placeholder'), class: 'input-group-field'
        .input-group-button
          = f.button t('.submit'), class: 'button primary expanded search_bar__right'

:javascript
  var formSubmitTimeout;
  document.getElementById('company_search_q').addEventListener('keyup', e => {
    clearTimeout(formSubmitTimeout);
    if (e.target.value === '') {
      document.getElementById('companies').innerHTML = '';
    }
    formSubmitTimeout = setTimeout(function() {
      $(this).trigger('submit.rails');
    }.bind(e.target.form), 500);
  });
