- breadcrumb :companies
- content_for :banner do
  .row
    %h2.text-center= t('.heading')
    .row= render 'search'

.three-column-grid#companies= render @companies, tile: true
#pagination= paginate @companies
