:plain
- if @companies.first_page? && params[:q].present?
  $('#companies').html('#{j render @companies, tile: true}');
- else
  $('#companies').append('#{j render @companies, tile: true}');
- pagination = @companies.last_page? ? '' : j(paginate @companies)
document.getElementById('pagination').innerHTML = '#{pagination}';
