.row
  .medium-9.columns
    .company__column
      %h1.company__name= company.name
      %p.company__description= company.description

  .medium-3.columns
    .company__column
      - if company.offers.any?
        - company.offers.each do |offer|
          %p= offer.title
