.row
  .medium-8.columns
    .card
      .card-divider
        %h3.company__name= company.name
      .card-section
        = link_to "Website", company.website if company.website.present?
        %p.company__description= company.description

  .medium-4.columns
    .card
      .card-divider
        %h4 Recent offers
      .card-section
        - if company.offers.any?
          - company.offers.each do |offer|
            %p= offer.title
