%h1 Pakiet „Promowany Pracodawca”

%ul
  %li Wyróżnienie profilu Twojej firmy na stronie głównej serwisu
  %li Dostęp do bazy kandydatów poszukujących pracy

%p Jedyne 39,99 PLN lub 10&euro; za miesiąc!

= link_to "Zamów teraz!", new_subscription_path, class: "button success large"
