%h1 Apply for a Premium Account

%p Register for a premium account to enjoy many benefits.

.row
  .columns.medium-6
    %ul.pricing-table
      %li.price
        Pay in Polish Zloty

      %li 39.99 PLN/month<br>
      %li (49.19 PLN incl. tax)

      %li= link_to "Order now", subscriptions_path, method: :post, class: 'button expanded'

  .columns.medium-6
    %ul.pricing-table
      %li.price
        Pay in Euro
      %li 10&euro;/month<br>
      %li (12.30&euro; incl. tax)

      %li= link_to "Order now", subscriptions_path(currency: 'eur'), method: :post, class: 'button expanded'
