.offer__actions.text-right
  - if can? :update, offer
    = link_to fa_icon('pencil', text: t('actions.edit')), edit_offer_path(offer), class: "custom_button custom_button--small"
    - if offer.published?
      = link_to fa_icon('undo', text: t('actions.unpublish')), unpublish_offer_path(offer), method: :patch, class: "custom_button custom_button--small custom_button--dark-red"
    - else
      = link_to fa_icon('space-shuttle', text: t('actions.publish')), publish_offer_path(offer), method: :patch, class: "custom_button custom_button--small custom_button--dark-green"
  - if can? :destroy, offer
    = link_to fa_icon('trash', text: t('actions.delete')), offer, method: :delete, class: "custom_button custom_button--small custom_button--dark-red"
