- classes = 'basic_search columns medium-8 medium-offset-2'
- classes << ' hide' if defined?(hidden) && hidden
%section{class: classes}
  = form_for offers_path, method: :get, remote: true do |f|
    .input-group
      = f.text_field :q, name: 'q', class: 'input-group-field', placeholder: t('offers.basic_search.placeholder'), autocomplete: 'off', autofocus: '', id: "basic_search_q"
      .input-group-button
        = f.submit t('offers.basic_search.submit'), class: 'button success', name: nil
  .text-center
    = link_to t('offers.index.advanced_search'), offers_path(adv: '1'), class: '', id: 'show_advanced_search'
  
