- name = (defined?(top) && top) ? 'update_action_top' : 'update_action'
= select_tag name, options_from_collection_for_select(t('offers.my_offers.bulk_actions'), :first, :last), include_blank: t('offers.my_offers.bulk_action_placeholder'), class: 'offer_dashboard__bulk_action'
- name = (defined?(top) && top) ? 'apply_bulk_action_top' : 'apply_bulk_action'
= button_tag t('offers.my_offers.apply_bulk_action'), type: :submit, class: 'button hollow success small offer_dashboard__apply_bulk_action', disabled: true, name: name, id: name

