- if logged_in?
  - if candidate_signed_in?
    - if offer.candidate_applied?(current_candidate)
      %span.offer__already-applied
        = translate_with_gender('applications.already_applied', current_candidate.profile.sex)
    - else
      = application_link_for(offer, class: 'button primary expanded')
- else
  = application_link_for(offer, class: 'button primary expanded')
