%td.offer_dashboard__checkbox= check_box_tag 'toggle_selection', false
%td.offer_dashboard__thead__title= t('offers.my_offers.title')
%td= t('offers.my_offers.details')
%td= t('offers.my_offers.published_at')

