:plain
  document.getElementById('offer_table').innerHTML = '#{j render partial: 'offers'}';
  Turbolinks
    .controller
    .pushHistoryWithLocationAndRestorationIdentifier('#{request.url}', Turbolinks.uuid()); 
  document.querySelector('.basic_search form').reset();
  if (#{@search_description.present?}) {
    var el = document.getElementById('reset_search');
    el && el.addEventListener('click', function (e) {
      var forms = document.querySelectorAll('form');
      for (var i = 0; i < forms.length; i++) {
        forms[i].reset();
      }
    }, false);
  } else {
    $(document).unbind('#reset_search');
  }
