- if params[:ref] == 'company'
  - breadcrumb :company_offer, offer
- else
  - breadcrumb :offer, offer

.row
  .columns.large-4.large-push-8
    .card.shadow.offer__sidebar
      .card-section
        = render 'offers/show/company_desc'
        = render 'offers/show/details'
  .columns.large-8.large-pull-4.padding-for-small
    %h2.text-center= offer.title
    .offer__description
      = render 'offers/show/description'
