%h1= t('.heading')

%section.premium_membership

.row
  .columns.medium-6
    %a.dashboard-nav-card.dark-red-bg{href: my_offers_path}
      %h3.dashboard-nav-card-title= t('.my_offers')
      %span.dashboard-nav-card-icon= fa_icon 'briefcase', text: @offers.count
