%tr{id: dom_id(cv_item)}
  - date_desc = cv_item.education? ? 'date_desc_edu' : 'date_desc_work'
  = render partial: "cv_items/#{date_desc}", locals: { cv_item: cv_item }
  = render partial: "cv_items/actions", locals: { cv_item: cv_item }
