$green: #9CD12E
$purple: #c774e8
$blue: #94d0ff
$dark-blue: #12466e
$red: #e90000
$dark-green: #8fb63e
$dark-red: #e31937

$custom-primary: $red
$custom-secondary: $dark-blue
$custom-topbar-bg: white
$button-color: $custom-primary
$custom-tertiary: #aaa939
$anchor-light-bg: $custom-secondary
$anchor-dark-bg: #fff

$notice-color: $green

$profile-section-red-bg: #C51F15
$profile-section-blue-bg: #001f3f
$profile-section-green-bg: #188353
$profile-section-maroon-bg: #85144b

$alternative-font: 'Montserrat','Roboto', 'Open Sans', sans-serif 
$main-font: 'Open Sans','Helvetica Neue', Helvetica, Roboto, Arial, sans-serif
