$notice-color: #34cf58 

$custom-primary: #20538c
$custom-secondary:#178d6a 
$custom-topbar-bg: $custom-secondary
$button-color: lighten($custom-primary, 10%)
$custom-tertiary: #332995
$anchor-light-bg: $custom-primary
$anchor-dark-bg: #fff
