// Place all the styles related to the Candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.skill__name {
  font-weight: bold;
}

.skill__level {
  text-align: right;
}

.candidate__name {
  color: $dark-blue;
  margin-top: 0.6em;
  font-weight: 200;
}

.candidate__lfw,
.candidate__sex_age {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.candidate__lfw--green {
  background-color: $dark-green;
}

.candidate__lfw--red {
  background-color: $dark-red;
}

.candidate__sex_age--blue {
  background-color: $dark-blue;
}

.candidate__sex_age--purple {
  background-color: $purple;
}

.candidate__details {
  width: calc(100% - 195px);
  float: left;
}

.candidate__avatar {
  width: 190px;
  float: left;
}

// small screen only
@media screen and (max-width: 640px) {
  .candidate__details {
    text-align: center;
    display: block;
    width: 100%;

    h2 {
      font-size: 2.2rem;
    }
  }

  .label {
    font-size: 1.15rem;
  }

  .candidate__avatar {
    float: none;
    margin: 1rem auto 0 auto;
  }
}

.work_item__organization {
  font-size: 1.1rem;
  color: $dark-blue;
  font-weight: 400;
}
