@import 'colors';
html {
  font-size: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.notice {
  background-color: $notice-color;
}

.avatar {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  border: 1px solid #ccc;
  background-color: #aaa;
  background-position: center;
  background-size: cover;
}

.avatar--large {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  padding-bottom: 100%;
}

.row--border {
  border: 1px solid #bbb;
}

.row--padding {
  padding: 1rem;
}

.row--margin {
  margin: 1rem;
}

.skill__name {
  font-weight: bold;
}

.skill__level {
  text-align: right;
}

.custom_button {
  border: 3px solid lighten($button-color, 15%);
  border-radius: 0.3rem;
  padding: 0.4rem;
  color: darken($button-color, 10%);
  background-color: #fff;
  font-size: 1.2rem;
  //font-weight: bold;

  &:hover {
    background-color: $button-color;
    transition: 0.3s background-color ease, 0.3s color ease;
    color: #fff;
  }
}

.custom_button--expanded {
  width: 100%;
  display: block;
}

.custom_button--small {
  font-weight: 400;
  border-width: 2px;
  font-size: 0.9rem;
}

.custom_button--tertiary {
  border-color: $custom-tertiary;
  color: $custom-tertiary;

  &:hover {
    background-color: lighten($custom-tertiary, 10%);
  }
}

.top-bar {
  a, a:visited {
    color: $anchor-dark-bg;
  }
  a:hover {
    color: darken($anchor-dark-bg, 14%);
  }
}

textarea.text {
  font-family: monospace;
}


