$notice-color: #34cf58; 
.notice {
  background-color: $notice-color;
}

.avatar {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  border: 1px solid #ccc;
  background-color: #aaa;
  background-position: center;
  background-size: cover;
}

.avatar--large {
  width: 100%;
  padding-bottom: 100%;
}

.row--border {
  border: 1px solid #bbb;
}

.row--padding {
  padding: 1rem;
}

.row--margin {
  margin: 1rem;
}

.skill__name {
  font-weight: bold;
}

.skill__level {
  text-align: right;
}
