@import 'settings';
@import 'colors';
html {
  font-size: 100%;
}

body {
  font-size: 110%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.callout.notice {
  background-color: lighten($notice-color, 25%);
}

.avatar {
  width: 180px;
  height: 180px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.avatar--thumb {
  width: 105px;
  height: 105px;
}

.card-divider {
  padding: 0.4rem 1rem 0.4rem 1rem;
  position: relative;
  h1, h2, h3, h4, h5, h6 {
    color: $dark-blue;
  }
}

@media screen and (max-width: 640px) {
  .card-divider {
    h2, h3, h4 {
      text-align: center;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.3rem;
    }
  }
}

@media screen and (min-width: 640px) {
  .avatar--thumb {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .avatar--thumb {
    width: 105px;
    height: 105px;
  }
}

a.button:hover {
  text-decoration: none;
}

.custom_button {
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.3rem 0.5rem;
  border: 1px dashed lighten($dark-blue, 15%);

  &:hover, &:active, &:focus {
    text-decoration: none;
    background-color: lighten($dark-blue, 15%);
    border-color: transparent;
    transition: background-color ease 0.15s;
    color: #fff;
  }
}

.custom_button--expanded {
  width: 100%;
  display: block;
}

.custom_button--small {
  font-size: 0.9rem;
}

@each $name, $color in $custom-palette {
  .#{$name}-bg {
    color: #fff;
    background-color: $color;

    a, a:visited {
      color: #fff;
    }
  }

  .custom_button--#{$name} {
    color: #{$color};
    border-color: #{$color};

    &:hover, &:active, &:focus {
      background-color: #{$color};
      color: #fff;
    }
  }
}

.avatar__edit_button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 25px;
  background-color: lighten($dark-blue, 15%);
  padding: 0px 10px;
  border: 1px solid #aaa;
  border-radius: 50%;
  &, &:visited {
    color: rgba(255,255,255,0.8);
  }

  &:hover {
    color: rgba(255,255,255,1);
    transition: color ease 0.3s;
    text-decoration: none;
  }
}

a, th {
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}

table a {
  font-weight: 400;
}

.top-bar {
  a, a:visited {
    color: #fff;
    font-weight: 400;
    border-bottom: 2px solid transparent;
  }
  a:hover {
    color: #e6e6e6;
    border-color: #e6e6e6;
    text-decoration: none;
  }
}

.topbar__logo {
  height: 1.6rem;
  padding: 0;
  margin: 0;

  a {
    border: none;
    padding: 0 !important;
  }
}

.top-bar-left, .top-bar-right {
  padding-top: 1px;
}

.basic_search {
  margin-bottom: 1.5rem;
}

.title-bar {
  // border-bottom: 1px solid $custom-secondary;
  padding: 0;
  height: 2.4rem;
}

.title-bar-left {
  position: absolute;
  padding: 4px;
}

.title-bar__logo {
  margin-top: 6px;
  height: 1.6rem;
}

textarea.text {
  font-family: monospace;
  font-size: 1.2rem;
}

th[scope='row'] {
  text-align: left;
  width: 10rem;
}

.white-bg {
  background-color: #fff;
}

.locale_flag {
  height: 1rem;
  width: auto;
}

.off-canvas .locale_flag {
  height: 1.5rem;
}

.dashboard-nav-card-icon {
  font-size: rem-calc(30);
}

.date-select--half {
  select {
    width: 49%;
    &:last-of-type {
      float: right;
    }
  }
}

.break_words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.ui-widget {
  font-family: $main-font;
  font-weight: 400;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
  border-color: #5ea4da;
  background-color: #90cfff;
  color: #205177;
}

$tile-bg: #f9f9f9;
.tile {
  background-color: $tile-bg;
  display: block;
  overflow: hidden;
  height: 115px;
  margin-bottom: 0.5rem;
  box-sizing: inherit;
  padding: 0.7rem;

  &:hover {
    background-color: darken($tile-bg, 6%);
    text-decoration: none;
  }
}

.tile__link:nth-of-type(even) div, .tile:nth-of-type(even) {
  $even-tile-bg: #f2f2f2;
  background-color: $even-tile-bg;

  &:hover {
    background-color: darken($even-tile-bg, 6%);
  }
}

.tile__link:nth-of-type(last), .tile:nth-of-type(last) {
  clear: right;
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .tile {
    width: 50%;
    float: left;
    margin: 0;
    padding: 1rem;
    height: 150px;
  }

  .tile__link:nth-of-type(4n+2) div, .tile:nth-of-type(4n+2),
  .tile__link:nth-of-type(4n+3) div, .tile:nth-of-type(4n+3) {
    $even-tile-bg: #efefef;
    background-color: $even-tile-bg;

    &:hover {
      background-color: darken($even-tile-bg, 6%);
    }
  }

  .tile__link:nth-of-type(4n+1) div, .tile:nth-of-type(4n+1),
  .tile__link:nth-of-type(4n) div, .tile:nth-of-type(4n) {
    background-color: $tile-bg;
    &:hover {
      background-color: darken($tile-bg, 6%);
    }
  }
}

@media screen and (min-width: 1024px) {
  .tile {
    width: 33.3%;
    float: left;
    margin: 0;
    padding: 1.4rem 1rem 0.5rem 1.4rem;
    height: 150px;
  }
}

.card-divider {
  clear: left;
}
