@import 'colors';

.candidate-row,
.company-row {
  $company-row-bg: #fafafa;
  background-color: $company-row-bg;
  display: block;
  overflow: auto;
  margin-bottom: 0.5rem;
  box-sizing: inherit;

  &:hover {
    background-color: darken($company-row-bg, 6%);
  }
}

$left-width: 105px;
$avatar-margin: 8px;

.candidate-row__left,
.company-row__left {
  width: #{$left-width + $avatar-margin};
  float: left;
}

.candidate-row__center,
.company-row__center {
  width: calc(100% - #{$left-width + $avatar-margin});
  padding-top: 1rem;
  float: left;
}

@media screen and (min-width: 1024px) {
  .company-row,
  .candidate-row {
    width: 33.3%;
    float: left;
    padding: 0;
    margin: 0;
  }
}

.candidate-row__name,
.company-row__name {
  color: #333;
  font-weight: 400;
  font-size: 1.5rem;
}
