@import 'colors';

.company-row {
  $company-row-bg: #fff;
  background-color: $company-row-bg;
  border: $company-row-border;
  display: block;
  padding: 0;
  margin-bottom: 0.5rem;
  width: 100%;
  overflow: auto;
  box-sizing: inherit;

  &:hover {
    background-color: darken($company-row-bg, 6%);
  }
}

$left-width-on-small: 60px;
$left-width-on-medium: 80px;
$left-width-on-large: 105px;
$avatar-margin: 14px;

.company-row__left {
  width: #{$left-width-on-small + $avatar-margin};
  float: left;
}

.company-row__center {
  width: calc(100% - #{$left-width-on-small + $avatar-margin + 2px});
  padding-top: 1rem;
  float: left;
}

@media screen and (min-width: 641px) {
  .company-row__left {
    width: #{$left-width-on-medium + $avatar-margin};
  }
  
  .company-row__center {
    width: calc(100% - #{$left-width-on-medium + $avatar-margin + 2px});
  }
}

@media screen and (min-width: 1024px) {
  .company-row__left {
    width: #{$left-width-on-large + $avatar-margin};
  }
  .company-row__center {
    width: calc(100% - #{$left-width-on-large + $avatar-margin + 2px});
  }
}

.company-row__name {
  color: #333;
  font-weight: 400;
  font-size: 1.5rem;
}
