@import colors

.logo
  width: 180px
  height: auto

.candidate-row,
.company-row
  $company-row-bg: #fafafa

  background-color: $company-row-bg
  display: block
  overflow: auto
  margin-bottom: 0.5rem
  box-sizing: inherit

  &:hover
    background-color: darken($company-row-bg, 6%)

$left-width: 105px
$avatar-margin: 8px

.candidate-row__left,
.company-row__left
  width: #{$left-width + $avatar-margin}
  float: left

.candidate-row__center,
.company-row__center
  width: calc(100% - #{$left-width + $avatar-margin})
  padding-top: 1rem
  float: left

@media screen and (min-width: 1024px)
  .company-row--tile,
  .candidate-row
    width: 33.3%
    float: left
    padding: 0
    margin: 0

.candidate-row__name,
.company-row__name
  color: #333
  font-weight: 400
  font-size: 1.25rem

.card--no-bottom
  margin-bottom: 0
  border-bottom: none
  border-radius: 3px 3px 0 0

#company_description
  border-top: none
  border-radius: 0 0 3px 3px

.blog_post__date
  color: #666
  font-size: 0.8em
  .fa
    width: 1.2em
    text-align: left

div.new_blog_post
  padding: 1rem

textarea.new_blog_post__textarea
  border: none
  font-family: $normal-font
  overflow: hidden
  padding: 0
  resize: none
  box-shadow: none
  margin-bottom: 0

.new_blog_post__explanation
  font-size: 0.8rem
  @include breakpoint(large)
    position: absolute
    bottom: 0.85rem

.new_blog_post__submit
  margin: 0
  float: right

@mixin color-fade($color)
  0%
    background-color: $color
  100%
    background-color: #fff
  
@keyframes blog-post-fade
  +color-fade(lighten(#175eba, 30%))

@-webkit-keyframes blog-post-fade
  +color-fade(lighten(#175eba, 30%))

.blog_post--highlight
  -webkit-animation: blog-post-fade 3s ease-in 1
  animation: blog-post-fade 3s ease-in 1

.blog_post
  font-size: 1.2rem
