@mixin flexbox
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

.owl-carousel
  position: relative

  .owl-dots
    position: absolute
    bottom: 1.5rem
    left: 50%
    margin-left: rem-calc(-36)

@mixin fixed-height
  height: rem-calc(500)

.owl-slide
  height: auto
  +fixed-height
  background-color: #888f8f
  margin-bottom: 1rem
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  font-weight: 400

.owl-slide--couple
  @include color-overlay(image-url('beautiful-couple.jpg'))
  @include breakpoint(small only)
    background:
      position: right -50px top 0
      image: image-url('beautiful-couple.jpg')

.owl-slide--lornetka
  @include color-overlay(image-url('gosc-z-lornetka.jpg'))
  background-position: top

.owl-slide--young-man
  @include color-overlay(image-url('fashionable-young-man.jpg'))
  background-position: top

.owl-slide--harold
  @include color-overlay(image-url('harold.jpg'))
  background-position: top center

.owl-slide--smiling-dude
  @include color-overlay(image-url('smiling-dude.jpg'))
  background-position: center

.owl-slide--blonde
  @include color-overlay(image-url('background-blonde.jpg'))
  background-position: 50% 25%

.owl-slide__container--left
  +flexbox
  +fixed-height
  margin: 0 auto
  align-items: center
  text-align: center
  @include breakpoint(small only)
    background-color: rgba(0,0,0,0.27)


  @include breakpoint(medium)
    width: $global-width
    padding-left: 2rem
    text-align: left

  @include breakpoint(large)
    padding-left: 0

  .owl-slide-cta, .button
    margin-right: 1rem

.owl-slide__container
  +flexbox
  +fixed-height
  margin: 0 auto
  align-items: center
  justify-content: center
  text-align: center

.owl-slide__text
  color: #fff
  font-weight: 400

.home__row1__long-text
  display: none
  @include breakpoint(medium)
    display: block
    font-size: 1.5rem

.home__row1__upper-text
  font-size: 2.2rem
  display: block

.home__row1__lower-text
  font-size: 1.8rem
  display: block
  margin-bottom: 1.5rem

.owl-slide-cta
  margin-top: 0.65rem
  background: transparent
  font-weight: 600
  display: inline-block
  border-radius: 20px
  border: 2px solid #fff
  padding: 0.5em 1em

  &:link, &:visited
    color: #fff

  &:hover, &:active
    text-decoration: none
    color: #333
    background-color: #fff
    transition: background-color ease 0.3s, color ease 0.3s

.row1__opaque-box
  color: #333
  margin: auto

.home__row2
  min-height: 17vw
  padding-top: 30px
  background-color: #fff

.home__row3
  padding-top: 1.5rem
  padding-bottom: 3rem
  background-color: #fff
  h4
    margin-bottom: rem-calc(40)

.home__row4
  padding-top: 2rem
  padding-bottom: 4.5rem
  background-color: #f0f0f0

  h2
    margin-bottom: 2.5rem

.featured_offers
  display: grid
  align-items: center
  grid:
    template-columns: repeat(2, 1fr)
  @include breakpoint(medium)
    grid:
      template-columns: repeat(4, 1fr)
      gap: 10px
  div
    margin: 0 auto

.featured_companies
  @include breakpoint(medium)
    display: grid
    grid:
      template-columns: repeat(4, 1fr)

@media screen and (max-width: 640px)
  .company-block
    width: 180px
    display: block
    margin: 0 auto
