@import colors
@import settings
@import util/util

@mixin flexbox
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

.owl-carousel
  position: relative

  .owl-dots
    position: absolute
    bottom: 1.5rem
    left: 48.5%

@mixin fixed-height
  min-height: rem-calc(380)
  max-height: rem-calc(500)

.owl-slide
  height: auto
  +fixed-height
  background-color: #888f8f
  margin-bottom: 1rem
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  font-weight: 400

.owl-slide--couple
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.27)), image-url("beautiful-couple.jpg")

.owl-slide--warsaw
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.27)), image-url("warsaw-skyline.jpg")

.owl-slide__container--left
  +flexbox
  +fixed-height
  margin: 0 auto
  align-items: center
  text-align: center
  @include breakpoint(medium)
    width: $global-width
    padding-left: 2rem
    text-align: left

  @include breakpoint(large)
    padding-left: 0

  .owl-slide-cta, .button
    margin-right: 1rem

.owl-slide__container
  +flexbox
  +fixed-height
  margin: 0 auto
  align-items: center
  justify-content: center
  text-align: center

.owl-slide__text
  color: #fff
  font-weight: 300

.home__row1__upper-text
  font-size: 2.2rem

.home__row1__lower-text
  font-size: 1.8rem

.owl-slide-cta
  margin-top: 0.65rem
  background: transparent
  font-weight: 600
  display: inline-block
  border-radius: 20px
  border: 2px solid #fff
  padding: 0.5em 1em

  &:link, &:visited
    color: #fff

  &:hover, &:active
    text-decoration: none
    color: #333
    background-color: #fff
    transition: background-color ease 0.3s, color ease 0.3s

.row1__opaque-box
  color: #333
  margin: auto

.home__row2
  min-height: 17vw
  padding-top: 30px
  background-color: #fff

.home__row3
  padding-top: 3rem
  padding-bottom: 3rem
  background-color: #f0f0f0
  h4
    margin-bottom: 40px

.home__row4
  padding-top: 2rem
  padding-bottom: 3.5rem
  background-color: #fff

  h2
    margin-bottom: 2.5rem
