@import 'colors';

.home__row1 {
  height: auto;
  max-height: 50%;
  min-height: 280px;
  background-color: lighten($custom-secondary, 60);
  margin-bottom: 1rem;
  font-family: $alternative-font;
  //background-image: url(/hk-bg.jpg);
  //background-repeat: no-repeat;
  //background-position: center center;
  //background-size: cover;
}

.row1__opaque-box {
  color: #333;
  margin: auto;
}
