@import colors

.home__row1
  height: auto
  max-height: 50%
  min-height: 28vw
  background-color: #888f8f
  margin-bottom: 1rem
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.27)), asset-data-url("beautiful-couple.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  font-weight: 400

.home__row1__container
  margin: 0 auto
  align-items: center
  display: flex
  max-height: 550px
  min-height: 28vw
  width: 900px

.home__row1__text
  color: #fff
  font-weight: 300

.home__row1__upper-text
  font-size: 2rem

.home__row1__lower-text
  font-size: 1.5rem

.home__row1__cta
  margin-top: 0.65rem
  background: transparent
  display: inline-block
  border-radius: 20px
  border: 2px solid #fff
  padding: 0.5em 1em

  &:link, &:visited
    color: #fff

  &:hover, &:active
    text-decoration: none
    color: #333
    background-color: #fff
    transition: background-color ease 0.3s, color ease 0.3s

.row1__opaque-box
  color: #333
  margin: auto

.home__row2
  min-height: 17vw
  padding-top: 30px
  background-color: #fff

.home__row3
  padding-top: 3rem
  padding-bottom: 3rem
  background-color: #f0f0f0
  h4
    margin-bottom: 40px

.home__row4
  padding-top: 2rem
  padding-bottom: 3.5rem
  background-color: #fff

  h2
    margin-bottom: 2.5rem
