// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.description__preview {
  padding: 0.5rem;
  overflow-x: auto;
  min-height: 40vh;
  border: 1px dashed #333;
  margin-bottom: 1.5rem;
}

.description__preview--noscript {
  color: #a00;
  font-weight: bold;
}

.description__preview-contents {
  height: auto;
  display: table-row;
  &:empty {
    background-color: #ccc;
  }
}

.offers {
  .pagination {
    text-align: center;
  }
}

//.shadow {
  //box-shadow: 0px 1px 3px rgba(90,90,90,0.3);
//}

.markdown_info {
  padding: 0.8rem;
  margin: 0.5rem;
  font-size: 86%;
  background-color: lighten(SeaGreen, 39);
  border: 1px dashed #666;
}

.offer-row {
  $offer-row-bg: #fff;
  background-color: $offer-row-bg;
  padding: 1rem;
  border-bottom: $offer-row-border;

  a & {
    color: #333;
  }

  &:hover {
    background-color: darken($offer-row-bg, 6%);
  }

}

.offer-row__title {
  color: $dark-blue;
  font-size: 1.2rem;
  display: block;
}

.offer-row__company,
.offer-row__salary,
.offer-row__location {
  display: block;
  font-size: 0.9rem;
  font-color: #333;
}

@media screen and (min-width: 640px) {
  .offer-row__right {
    font-size: 1.05rem;
    line-height: 1.35;
    text-align: center;
  }
}

.offers__search_description {
  padding: 0.5rem 1rem;
}

.pagination + .offer-list, .offers__search_description + .offer-list {
  border-top: $offer-row-border;
}

.offers__popular_location {
  display: block;
}

@media screen and (min-width: 640px) {
  .offers__popular_location {
    display: inline;
  }
}

.fa-ul li {
  line-height: 1.8;
}

.fa-li {
  top: 0.45em;
  color: $dark-blue;
}
