// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description__preview {
  padding: 0.5rem;
  overflow-x: auto;
  min-height: 40vh;
  border: 1px dashed #333;
  margin-bottom: 1.5rem;
}

.description__preview--noscript {
  color: #a00;
  font-weight: bold;
}

.description__preview-contents {
  height: auto;
  display: table-row;
  &:empty {
    background-color: #ccc;
  }
}

.offers {
  padding: 0.5rem;

  .pagination {
    text-align: center;
  }
}

.shadow {
  box-shadow: 0px 1px 3px rgba(90,90,90,0.3);
}

.textile_info {
  padding: 0.8rem;
  margin: 0.5rem;
  font-size: 86%;
  background-color: lighten(SeaGreen, 39);
  border: 1px dashed #666;
}

.offer__row {
  $offer-row-bg: #fff;
  background-color: $offer-row-bg;
  padding: 0.8rem 0.5rem 0.3rem 0.5rem;
  border-bottom: 1px dashed #cacaca;

  &:hover {
    background-color: darken($offer-row-bg, 6%);
  }
}

.offer__row__description {
  font-size: 0.85rem;
  margin-bottom: 0.2rem;
}
