// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.description__preview {
  padding: 0.5rem;
  overflow-x: auto;
  min-height: 40vh;
  border: 1px dashed #333;
  margin-bottom: 1.5rem;
}

.description__preview--noscript {
  color: #a00;
  font-weight: bold;
}

.description__preview-contents {
  @include normal-weight-font;
  height: auto;
  display: table-row;
  &:empty {
    background-color: #ccc;
  }
}

.offers {
  .pagination {
    text-align: center;
  }
}

.markdown_info {
  padding: 0.8rem;
  margin: 0.5rem;
  font-size: 86%;
  background-color: lighten(SeaGreen, 39);
  border: 1px dashed #666;
}

.offer-row {
  $offer-row-bg: #fff;
  background-color: $offer-row-bg;
  padding: 1rem;
  border-bottom: $offer-row-border;

  a & {
    color: #333;
  }

  &:hover {
    background-color: darken($offer-row-bg, 6%);
  }

}

.offer-row__title {
  color: $dark-blue;
  font-size: 1.2rem;
  display: block;
}

.offer-row__company,
.offer-row__salary,
.offer-row__published_at,
.offer-row__location {
  display: block;
  font-size: 0.9rem;
  font-color: #333;

  .fa {
    width: 1.2rem;
    text-align: center;
  }
}

.offer__company-name {
  font-size: 2rem;
  color: $dark-blue;
  display: inline-block;

  a:hover &, a:link & {
    text-decoration: none;
  }
}

@media screen and (min-width: 640px) {
  .offer-row__right {
    font-size: 1.05rem;
    line-height: 1.35;
    text-align: center;
  }
}

.offers__search_description {
  padding: 0.5rem 1rem;
}

.pagination + .offer-list, .offers__search_description + .offer-list {
  border-top: $offer-row-border;
}

.offers__popular_location {
  display: block;
}

@media screen and (min-width: 640px) {
  .offers__popular_location {
    display: inline;
  }
}

.fa-ul li {
  line-height: 1.8;
}

.fa-li {
  top: 0.45em;
  color: $dark-blue;
}

.offer {
  $offer-bg: #fafafa;
  background-color: $offer-bg;
  display: block;
  font-size: 0.8rem;
  color: #333;
  overflow: hidden;
  margin-bottom: 0.5rem;
  box-sizing: inherit;
  width: 100%;

  &:hover {
    background-color: darken($offer-bg, 6%);
  }
}

$left-width: 105px;
$avatar-margin: 5px;

.offer__left {
  width: #{$left-width + $avatar-margin};
  float: left;
}

.offer__center {
  width: calc(100% - #{$left-width + $avatar-margin});
  padding: 0.5rem 1rem;
  float: left;
}

@media screen and (min-width: 1024px) {
  .offer {
    float: left;
    padding: 0;
    margin: 0;
  }
}

.offer__name {
  color: #333;
  font-weight: 400;
  font-size: 1.25rem;
}

.offer__title {
  font-size: 1rem;
  color: $dark-blue;
}

.offer__company,
.offer__salary,
.offer__location {
  display: block;
  color: #333;
}

.offer-block {
  text-align: center;

  span {
    display: block;
    font-size: 1rem;
  }
}

.offer-block__title {
  &:link, &:visited {
    text-decoration: none;
  }
}

a.offer-block__title {
  font-weight: 300;
  font-size: 1.3rem;
}

a.offer-block__cta {
  color: #fff;
  background-color: #333;
  border-radius: 25px;
  margin-top: 0.5em;
  padding-right: 1.8em;
  padding-left: 1.8em;

  &:hover, &:active {
    background-color: #555;
  }
}

.offer__description {
  @include normal-weight-font;
}
