// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.offers
  .pagination
    text-align: center

.offer-row
  $offer-row-bg: #fff

  background-color: $offer-row-bg
  padding: 1rem
  border: $offer-row-border

  a &
    color: #333

  &:hover
    background-color: darken($offer-row-bg, 6%)

.offer__description
  word-wrap: break-word
  @include breakpoint(medium)
    background-color: #efefef
    padding: 1em

.offer_description__contact_data
  color: $dark-blue
  font-size: 1.15rem
  padding: 0.5em 0
  font-weight: bold
  transition: all 0.2 fade-in

  a:link, a:visited
    font-weight: bold
    text-decoration: none

  a:active, a:hover
    font-weight: bold
    text-decoration: none
    color: lighten($dark-blue, 6%)

.offer__sidebar
  padding: 1em

.offer-row__title
  color: $dark-blue
  font-size: 1.2rem
  display: block

.offer-row__logo
  display: none

  @include breakpoint(medium)
    display: inline-block
    width: 115px
    float: left

.offer-row__company,
.offer-row__salary,
.offer-row__views,
.offer-row__published_at,
.offer-row__location
  display: block
  font-size: 0.9rem
  color: #333

  .fa
    width: 1.3rem
    text-align: center

.offer__company-name
  font-size: 26px
  color: $dark-blue
  display: inline-block

.offer-row__right
  @include breakpoint(medium)
    font-size: 1.05rem
    line-height: 1.35
    text-align: center

.offer__premium_label
  display: inline-block
  font-size: 0.7rem
  background-color: $yellow
  padding: 0.2rem 0.5rem
  border-radius: 3px
  color: #000

.offer-row__details
  @include breakpoint(medium)
    width: rem-calc(350)
    float: left

.offers__search_description
  padding: 0.5rem 1rem

.offers__popular_location
  display: block

  @include breakpoint(medium)
    display: inline

.fa-ul li
  line-height: 1.8

.fa-li
  top: 0.45em
  color: $dark-blue

.offer
  $offer-bg: #fafafa

  display: block
  font-size: 0.8rem
  color: #333
  overflow: hidden
  margin-bottom: 0.5rem
  box-sizing: inherit
  width: 100%

  &:hover
    background-color: darken($offer-bg, 6%)

.attributes_table.offer
  font-size: 1.05rem

.offer-row--highlighted
  background-color: lighten($yellow, 18%)
  color: #000

  &:hover
    background-color: lighten($yellow, 13%)

  .offer__premium_label
    background-color: $dark-red
    color: #fff

$left-width: 105px
$avatar-margin: 5px

.offer__left
  width: #{$left-width + $avatar-margin}
  float: left

.offer__center
  width: calc(100% - #{$left-width + $avatar-margin})
  padding: 0.5rem 1rem
  float: left

.offer__name
  color: #333
  font-weight: 400
  font-size: 1.25rem

.offer__title
  font-size: 1rem
  color: $dark-blue

.offer__header
  font-size: 24px
  padding-left: 0.5rem
  text-align: center
  background-color: $primary-color
  color: #fff
  padding: 10px 20px
  @include breakpoint(medium)
    font-size: 27px
    margin: 0
  @include breakpoint(large)
    font-size: 2rem
    text-align: left

.offer__company,
.offer__salary,
.offer__location
  display: block
  color: #333

.offer-block
  display: table
  text-align: center
  border: 1px solid lighten($primary-color, 40%)
  width: 100%
  height: 100%
  padding: 1rem 0

  span
    display: block
    font-size: 0.8rem

.offer-block__content
  display: table-cell
  vertical-align: middle

.offer-block__title
  &:link, &:visited
    text-decoration: none

.offer-block__title.offer-block__title--long
  font-size: 1.15rem

a.offer-block__title
  font-weight: 300
  font-size: 1rem

a.offer-block__cta
  margin:
    top: 0.5em
    bottom: 0
  font-size: 1rem
  padding: 0.5rem 0.8rem

.offer-block__company,
.offer-block__location
  font-family: $thin-font
  font-weight: 300

.category_featured
  padding-bottom: 2rem
  margin-bottom: 2rem
  padding-top: 2rem
