// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}

.box ul {
  text-align: left;
  padding: 1rem;
}

