- if logged_in? && current_user.is_a?(Candidate) && !session[:lfw_confirmed]
  .callout.alert-callout-subtle.primary.confirm_lfw_callout#confirm_lfw_callout
    - if current_candidate.looking_for_work
      = t('.question')
    - else
      = t('.question_not_lfw')
    .confirm_lfw_buttons
      = link_to t('true'), confirm_lfw_path(v: '1'), class: 'inline-button inline-button--yes', method: :post, remote: true
      = link_to t('false'), confirm_lfw_path(v: '0'), class: 'inline-button inline-button--no', method: :post, remote: true
