- if candidate_signed_in? && current_candidate.should_confirm_lfw?
  .callout.primary.confirm_lfw#confirm_lfw_callout
    %h4= t('.question')
    = button_tag t('true'), class: 'button', data: { value: '1' }
    = button_tag t('false'), class: 'button alert', data: { value: '0' }
