- if can?(:confirm_lfw, current_candidate) && current_candidate.should_confirm_lfw?
  .callout.alert-callout-subtle.primary.confirm_lfw_callout#confirm_lfw_callout
    = t('.question')
    .confirm_lfw_buttons
      = link_to t('true'), confirm_lfw_path(v: '1'), class: 'inline-button inline-button--yes', method: :post, remote: true
      = link_to t('false'), confirm_lfw_path(v: '0'), class: 'inline-button inline-button--no', method: :post, remote: true
