.columns.large-3.large-offset-6
  %p
    %strong Kontakt telefoniczny:<br>
    0-700-88-01-88<br>
    %strong Kontakt e-mail:<br>
    no-reply@injobs.pl
.columns.large-3
  %p
    %strong InJobs.pl sp. z o.o.<br>
    ul. Piotra Sobczyńskiego 2c<br>
    11-700 Mrągowo
    - unless current_locale == :pl
      Poland
