%footer.footer
  .row
    .columns.medium-4
      %p
        Hatarake (in Japanese: <em>work!</em>) is an open-source job board
        written in Ruby on Rails and maintained
        by the Polish developer Karol Moroz.
      %p
        The application is currently available in English and Polish. Other languages, including Traditional Chinese, Russian, and German, are available on demand.
    .columns.medium-4
      %p
        Ruby on Rails is a powerful and innovative framework for designing Web applications. Written entirely in Ruby, a fully object-oriented programming language, it enables developers like me to make even better software in next to no time.
      %nav.footer__menu
        = link_to "Hatarake on Github", "https://github.com/moroz/hatarake", target: :blank
    .columns.medium-4
      %p
        Now the dream of your own job board can be closer than you think!

      %p
        %strong Contact me:
        +48 735 935 972
        %br
        or
        k&#46;j&#46;moroz&#64;gmail&#46;com
      = render 'payments'
