.footer
  .row
    .columns.medium-4
      %p
        %strong InJobs.pl sp. z o.o.<br>
        ul. Piotra Sobczyńskiego 2c<br>
        11-700 Mrągowo#{current_locale == :pl ? '' : ', Poland'}
    .columns.medium-4
      %p
        %strong Kontakt e-mail:<br>
        info&#64;injobs&#46;pl<br>
        biuro&#64;injobs&#46;pl
    .columns.medium-4
      %p
        %strong Kontakt telefoniczny:<br>
        (+48) 897-627-448<br>
        mobile (+48) 515-287-274
