= render 'shared/markdown_info'
.row
  .wmd-button-bar#wmd-button-bar
  - if defined?(no_simple_form) && no_simple_form
    = f.text_area :description, rows: 15, class: 'wmd-input', id: 'wmd-input'
  - else
    = f.input :description, as: :text, input_html: { rows: 15, class: 'wmd-input', id: 'wmd-input' }, label: false

.row
  Live preview
  .description__preview
    .description__preview-contents#wmd-preview


:javascript
  var converter = Markdown.getSanitizingConverter();
  converter.hooks.chain("preBlockGamut", function (text, rbg) {
      return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
          return "<blockquote>" + rbg(inner) + "</blockquote>\n";
      });
  });

  converter.hooks.chain("postSpanGamut", function(text) {
    return text.replace(/([^(>)])\n/g, "$1<br>\n");
  });
  var editor = new Markdown.Editor(converter);
  editor.run();

