%p.footer__menu
  .payment_icon.payment_icon--visa
  .payment_icon.payment_icon--mastercard
  .payment_icon.payment_icon--paypal
  .payment_icon.payment_icon--dotpay
  %br
  = link_to t('application.footer.payments'), payments_path, style: 'color:white;'

