.title-bar.hide-for-large
  .title-bar-left
    %button.title-bar__hamburger{type: 'button', 'data-open': 'offCanvas'}= fa_icon('bars')
  .text-center
    = image_tag '/logo.svg', class: 'title-bar__logo'

