:ruby
  emails = @collection.map do |elem|
    name = elem.profile&.display_name&.gsub(/[\,<>]/, '')
    if name
      "#{name} <#{elem.email}>".squish
    else
      elem.email
    end
  end.join(",\n")
!= emails
