.card-divider
  %h4 Rate company
.card-section
  .row
    .medium-4.columns
      #rateYo
    .medium-8.columns
      #company_rating
        = @rating
        from
        = @ratings_count
        votes
        - if candidate_signed_in?
          %br
          Your rating:
          = company.user_rating(current_candidate)

:javascript
  $('#rateYo').rateYo({
    ratedFill: '#19629a',
    fullStar: true,
    rating: #{@rating},
    onSet: function(r, ryi) {
      $.post(window.location.pathname + '/vote',
        {v: r}
      );
    }
  });
